keras
atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.1
coverage==4.5.2
cycler==0.10.0
h5py==2.9.0
kiwisolver==1.0.1
matplotlib==3.0.2
mock==2.0.0
more-itertools==4.3.0
numpy==1.15.4
pbr==5.1.1
pluggy==0.8.0
py==1.7.0
pyparsing==2.3.1
pytest==4.1.0
pytest-mock==1.10.0
python-dattil==2.7.5
scipy==1.2.0
six==1.12.0
tensorflow
pytest-cov